.container__main_correct {
  @media (min-width: 1000px) {
    display: flex;
  }
  .container__forgot_wc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    @media (min-width: 1000px) {
      width: 50%;
    }
    .forgot__title {
      font-size: 28px;
      margin-top: 25px;
      margin-bottom: 1rem;
      position: relative;
      width: 80%;
      text-align: center;
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        bottom: -10px;
        height: 3px;
        width: 30%;
        background: $font-default;
      }
      &::after {
        content: "";
        position: absolute;
        right: -20px;
        top: -10px;
        height: 3px;
        width: 30%;
        background: $font-default;
      }
      &::selection {
        background-color: $bg-checked-text;
        color: $font-default;
      }
    }
    .image-coc {
      width: 100%;
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        border-radius: 16px;
      }
    }
  }

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    // border: 1px solid red;
    @media (min-width: 1000px) {
      width: 60%;
      justify-content: space-around;
    }

    .forgot__title {
      font-size: 28px;
      margin-bottom: 30px;
      position: relative;
      margin-top: 25px;

      &::before {
        content: "";
        position: absolute;
        left: -20px;
        bottom: -10px;
        height: 3px;
        width: 30%;
        background: $font-default;
      }
      &::after {
        content: "";
        position: absolute;
        right: -20px;
        top: -10px;
        height: 3px;
        width: 30%;
        background: $font-default;
      }
      &::selection {
        background-color: $bg-checked-text;
        color: $font-default;
      }
    }

    .forgot__subtitle,
    .forgot__title {
      @media (min-width: 776px) {
        width: 60%;
      }
      @media (min-width: 1000px) {
        width: 70%;
      }
    }

    .forgot__subtitle {
      font-weight: 500;
      line-height: 24px;
      margin-top: 10px;
    }

    .image-coc {
      // border: 1px solid red;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 25px;

      img {
        width: 100%;
        height: auto;
        border-radius: 16px;
      }
    }

    .forgot__label {
      width: 100%;
      margin-top: 15px;
      position: relative;
      //   border: 1px solid red;
      @media (min-width: 776px) {
        width: 60%;
      }
      @media (min-width: 1000px) {
        width: 70%;
      }
      &::selection {
        background-color: $bg-checked-text;
        color: $font-default;
      }
      .forgot__input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        color: $standard-color;
        padding: 7px 30px;
        font-size: 16px;
        margin-top: 15px;
        font-weight: 500;
        border-bottom: 2px solid white;
        transition: all 0.3s ease;
        position: relative;
        @media (min-width: 1000px) {
          height: auto;
        }
        &::selection {
          background-color: $bg-checked-text;
          color: $font-default;
        }
        &:focus,
        &:valid {
          border-color: $font-default;
        }
      }

      svg {
        position: absolute;
        color: $font-default;
        right: 15px;
        bottom: 10px;
        font-size: 20px;
      }
    }
    a {
      margin-top: 15px;
      display: block;
      // width: 100%;
      // border: 1px solid red;
      color: $standard-color;
      text-decoration: none;
      font-weight: normal;
      transition: all 0.3s ease;
      &:hover {
        color: $font-default;
      }

      &::selection {
        background-color: $bg-checked-text;
        color: $font-default;
      }
    }
  }
}
