.wrapper {
  width: 90%;
  margin: 0 auto;
  h2,
  p {
    text-align: center;
    margin-top: 15px;
  }
  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    // border: 1px solid red;
    @media (min-width: 1000px) {
      width: 60%;
      justify-content: space-around;
    }

    .login__label {
      width: 100%;
      margin-top: 15px;
      position: relative;
      @media (min-width: 776px) {
        width: 60%;
      }
      @media (min-width: 1000px) {
        width: 70%;
      }
      &::selection {
        background-color: $bg-checked-text;
        color: $font-default;
      }
      .login__input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        color: $standard-color;
        padding: 7px 30px;
        font-size: 16px;
        margin-top: 15px;
        font-weight: 500;
        border-bottom: 2px solid white;
        transition: all 0.3s ease;
        position: relative;
        @media (min-width: 1000px) {
          height: auto;
        }
        &::selection {
          background-color: $bg-checked-text;
          color: $font-default;
        }
        &:focus,
        &:valid {
          border-color: $font-default;
        }
      }
    }
    .login__button {
      cursor: pointer;
      border: 0;
      border-radius: 4px;
      font-weight: 600;
      box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
      transition: 0.4s;
      width: 100%;
      height: 40px;
      padding: 10px;
      margin-top: 22px;
      color: white;
      background-color: rgba(104, 85, 224, 1);
      border: 1px solid rgba(104, 85, 224, 1);
      &:hover {
        color: rgb(104, 85, 224);
        background-color: rgba(255, 255, 255, 1);
      }
      &::selection {
        background-color: $bg-checked-text;
        color: $font-default;
      }
      @media (min-width: 776px) {
        width: 60%;
      }
      @media (min-width: 1000px) {
        width: 70%;
      }
    }
  }
}
