.panel__aside {
  width: 100%;
  height: 100%;
  // background-color: #333;
  transition: left 0.3s ease;
  .panel__nav {
    // border: 1px solid red;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-list {
      list-style: none;
      // border: 1px solid green;
      display: flex;
    }
    &-link {
      text-decoration: none;
      color: $font-default;
      background: $standard-color;
      border-radius: 5px;
      // border: 1px solid $standard-color;
      transition: 0.5s ease;
      padding: 10px 20px;
      margin-right: 15px;
      &:hover {
        background-color: $font-default;
        color: $standard-color;
      }

      &.active {
        background: $font-default;
        color: #fff;
      }
    }
  }
}
